.env
.vscode/
##binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
passman-linux
passman-mac-intel
passman-mac-silicon

#go cahe
/pkg/
bin/
#os
.DS_Store
Thumbs.db
*.db

#swaps
*.swap
*.swp
# Vim swap files
*.swp
*.swo
*.swn
# all Vim swap/backup files
[._]*.s[a-w][a-z]
*~   

# Test/Profile artifacts
coverage.txt
coverage.html
*.prof


#learning
notes.txt
*.txt

go.mod
go.sum
